{include file="index/header" title="首页"/}

<body style="font-size:16px;text-align: center;background-color: #f8f8f8;">
<nav style="background-color: #f0f0f0;" class="navbar navbar-default" role="navigation">
    <div style="font-weight: inherit;" class="container-fluid">
        <div class="navbar-header">
            <a style="margin-left: 400px;" class="navbar-brand" href="/index">视频网站</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/rank/comics">Bilibili</a></li>
                <li><a href="/rank/">优酷</a></li>
                <li><a href="/rank/">爱奇艺</a></li>
                <li><a href="#" >网站简介</a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="text-align: center;">
    <table style="margin: 0 auto;">
        <tr>
            <td><a href="/rank/comics"><img src="static/bilibili.png"/></a></td>
            <td><a href="http://www.youku.com"><img src="static/youku.jpg" width="40%"/></a></td>
            <td><a href="http://www.iqiyi.com"><img src="static/aiqiyi.png" width="75%"></a></td>
        </tr>
    </table>
</div>
</body>